  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>

  <link rel="stylesheet" href="<%= @asset_path %>/css/reset.css" type="text/css"/>

  <link type="text/css" href="<%= @asset_path %>/css/fg.menu.css" media="screen" rel="stylesheet" />
  <link type="text/css" href="<%= @asset_path %>/css/theme/ui.all.css" media="screen" rel="stylesheet" />
  <link type="text/css" href="<%= @asset_path %>/css/sh_style.css" rel="stylesheet" />
  <link type="text/css" href="<%= @asset_path %>/css/tipsy.css" rel="stylesheet" />

  <link rel="stylesheet" href="<%= @asset_path %>/css/showoff.css" type="text/css"/>

  <% if size = settings.showoff_config['size'] %>
    <% width, height =  size.split('x') %>
    <style type="text/css">
      @media screen {
        #preso, .slide {
          width: <%= width %>px;
          height: <%= height %>px;
        }
        #footer { width: <%= width.to_i - 19 %>px; }
      }
    </style>
  <% end %>

  <script type="text/javascript" src="<%= @asset_path %>/js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>/js/jquery.cycle.all.js"></script>
	<script type="text/javascript" src="<%= @asset_path %>/js/jquery-print.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>/js/jquery.batchImageLoad.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>/js/jquery.parsequery.min.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>/js/jquery.doubletap-0.1.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>/js/jquery.tipsy.js"></script>

  <script type="text/javascript" src="<%= @asset_path %>/js/fg.menu.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>/js/showoff.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>/js/jTypeWriter.js"> </script>
  <script type="text/javascript" src="<%= @asset_path %>/js/sh_main.min.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>/js/core.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>/js/showoffcore.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>/js/coffee-script.js"></script>

  <% if @languages %>
    <% @languages.each do |l| %>
      <script type="text/javascript" src="<%= @asset_path %>/js/<%= l %>"></script>
    <% end %>
  <% end %>

  <% css_files.each do |css_file| %>
    <% alternate = ShowOffUtils.default_style?(css_file) ? '' : 'alternate ' %>
    <link rel="stylesheet" href="<%= @asset_path %>/file/<%= css_file %>" type="text/css"/>
  <% end %>

  <% js_files.each do |js_file| %>
    <script type="text/javascript" src="<%= @asset_path %>/file/<%= js_file %>"></script>
  <% end %>

  <script type="text/javascript">
  <% if settings.showoff_config['vertical-center'] %>
    verticalCenterSlides = true;
  <% end %>
  $(function(){
    <% if @static %>
      if(!('slaveWindow' in window) && window.name !== 'toolbar' && $(window).width() < $(document).width()) {
        no_resize = true;
        $('body').css("zoom", ""+($(window).width()*100.0)/$(document).width()+"%");
        $('body').css("overflow-y", "auto");
        $('body').css("overflow-x", "hidden");
        $('#notesInfo').css("font-size", ""+$(document).width()*14.0/$(window).width()+"px");
        $('#notesInfo').css("line-height", ""+$(document).width()*20.0/$(window).width()+"px");
      }
    <% end %>
      setupPreso(<%= @slides.nil? ? "true" : "false"%>, '<%= @asset_path %>');
  });
  </script>
